.editor-button {
  padding: 5px;
}

.selected {
  background-color: lightgray;
}

.not-selected {
  background-color: white;
}

.editor {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
