@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-N800;
  }
  h1 {
    @apply font-primary;
    @apply text-5xl;
    @apply font-bold;
    @apply text-N0;
    letter-spacing: -2.5px;
  }
  h2 {
    @apply font-primary;
    @apply text-4xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 50.6px;
  }
  h3 {
    @apply font-primary;
    @apply text-2.5xl;
    @apply font-normal;
    @apply text-N0;
  }
  h4 {
    @apply font-primary;
    @apply text-2xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 25.3px;
  }
  h5 {
    @apply font-primary;
    @apply text-xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 19.69px;
  }
  p {
    @apply font-secondary;
    @apply text-lg;
    @apply font-normal;
    @apply text-N0;
    line-height: 22.5px;
  }
  button {
    /*colors*/
    @apply bg-P700;
    /*fonts*/
    @apply w250;
    @apply rounded;
    @apply shadow;
    @apply p-1;
  }
}

@layer components {
  .glass {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.0375) 100%
    );
    box-shadow: 8px 12px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    //opacity: 0.15;
  }
}
@layer utilities {
  @variants {
    .subtitle {
      @apply font-secondary;
      @apply text-base;
      @apply font-bold;
      @apply text-N0;
      line-height: 22.5px;
    }
    .w200 {
      @apply font-secondary;
      @apply text-xs;
      @apply font-normal;
    }

    .w250-m {
      @apply font-secondary;
      @apply text-sm;
      @apply font-semibold;
    }
    .w250 {
      @apply font-secondary;
      @apply text-lg;
      @apply font-semibold;
      @apply tracking-wide;

      @apply uppercase;
    }

    .w350 {
      @apply font-secondary;
      @apply text-sm;
      @apply font-normal;
      @apply tracking-tighter;
    }
    .w400 {
      @apply font-secondary;
      @apply text-lg;
      @apply font-normal;
    }

    .w500 {
      @apply font-primary;
      @apply text-xl;
      @apply font-bold;
    }
    .w600 {
      @apply font-primary;
      @apply text-2xl;
      @apply font-bold;
    }
    .w700 {
      @apply font-primary;
      @apply text-2.5xl;
      @apply font-normal;
    }
    .w800 {
      @apply font-primary;
      @apply text-4xl;
      @apply font-bold;
    }
  }
}
