@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-N800;
  }
  h1 {
    @apply font-primary;
    @apply text-5xl;
    @apply font-bold;
    @apply text-N0;
    letter-spacing: -2.5px;
  }
  h2 {
    @apply font-primary;
    @apply text-4xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 50.6px;
  }
  h3 {
    @apply font-primary;
    @apply text-2.5xl;
    @apply font-normal;
    @apply text-N0;
  }
  h4 {
    @apply font-primary;
    @apply text-2xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 25.3px;
  }
  h5 {
    @apply font-primary;
    @apply text-xl;
    @apply font-bold;
    @apply text-N0;
    line-height: 19.69px;
  }
  p {
    @apply font-secondary;
    @apply text-lg;
    @apply font-normal;
    @apply text-N0;
    line-height: 22.5px;
  }
  button {
    /*colors*/
    @apply bg-P700;
    /*fonts*/
    @apply w250;
    @apply rounded;
    @apply shadow;
    @apply p-1;
  }
}

@layer components {
  .glass {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.0375) 100%
    );
    box-shadow: 8px 12px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    //opacity: 0.15;
  }
  .glassBlur {
    background: rgba(255, 255, 255, .9);
    /* box-shadow: 8px 12px 30px 0px rgba(0, 0, 0, 0.15); */
    backdrop-filter: blur(2px) opacity(.98);
    -webkit-backdrop-filter: blur(2px) opacity(.5);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
  }
  .pagination {
    @apply block pt-4 space-x-6 pb-8 md:items-center md:justify-end md:flex text-N0 items-center justify-center
  }
  .pagination > .active > a{
    @apply px-2.5 text-sm font-medium bg-P700 hover:bg-P700 transition duration-200 ease-in-out
  }
  .pagination > li > a{
    @apply px-2.5 py-1 text-sm font-medium bg-N800 hover:bg-P700 transition duration-200 ease-in-out rounded-md
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    @apply px-2.5 text-sm font-medium bg-P700 hover:bg-P700 transition duration-200 ease-in-out
  }
  .pagination > li > a, .pagination > li > span{
    @apply px-2.5 text-sm font-medium bg-N800 hover:bg-P700 transition duration-200 ease-in-out
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .pagination-navigate {
    @apply rounded-md bg-N0
  }
}
@layer utilities {
  @variants {
    .subtitle {
      @apply font-secondary;
      @apply text-base;
      @apply font-bold;
      @apply text-N0;
      line-height: 22.5px;
    }
    .w200 {
      @apply font-secondary;
      @apply text-xs;
      @apply font-normal;
    }

    .w250-m {
      @apply font-secondary;
      @apply text-sm;
      @apply font-semibold;
    }
    .w250 {
      @apply font-secondary;
      @apply text-lg;
      @apply font-semibold;
      @apply tracking-wide;

      @apply uppercase;
    }

    .w350 {
      @apply font-secondary;
      @apply text-sm;
      @apply font-normal;
      @apply tracking-tighter;
    }
    .w400 {
      @apply font-secondary;
      @apply text-lg;
      @apply font-normal;
    }

    .w500 {
      @apply font-primary;
      @apply text-xl;
      @apply font-bold;
    }
    .w600 {
      @apply font-primary;
      @apply text-2xl;
      @apply font-bold;
    }
    .w700 {
      @apply font-primary;
      @apply text-2.5xl;
      @apply font-normal;
    }
    .w800 {
      @apply font-primary;
      @apply text-4xl;
      @apply font-bold;
    }
  }
}
